* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  padding: 2%;
  overflow: hidden;
  max-height: 100vh;
  
  /* background-color: aquamarine; */
}
.header {
  display: flex;
  justify-content: space-between;
  /* background: skyblue; */
  /* padding: 10px 0; */
}
.leftmenu {
  display: flex;
  list-style: none;
  gap: 20px;
} 

/* changing to correct the git */

.logo {
  color: #1e087fe9;
  font-family: DM sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.leftmenu li {
  color: rgba(21, 20, 57, 0.4);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.icons {
  color: rgba(21, 20, 57, 0.4);
  display: flex;
  list-style: none;
  gap: 20px;
}

.heading {
  width: 100%;
  /* height: 100% */
  color: #1e0e62;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  letter-spacing: -0.4px;
  padding: 3% 0;
}
.heading p {
  width: 100%;
}
.video {
  padding: 22px;
}
