*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
position: relative;
width: 1400px;
height: 880px;

/* Background / Light */

/* background: red */
}
.black{
    position: absolute;
width: 106px;
height: 32px;
left: 2px;
top: -6px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identical to box height */

text-align: center;
letter-spacing: -0.292683px;

/* Colors / Heading */

color: #1E0E62;

}

.Menu{
    position: absolute;
    height: 26px;
    top: calc(50% - 26px/2 - 355.6px);

/* Buttons / Middle */

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


/* Colors / Text */

color: rgba(21, 20, 57, 0.4);
}



.Products{

left: 18.36%;
right: 76.07%;


}
.Pricing{
    left: 27.07%;
right: 68.79%;
}
.Community{
    left: 33.29%;
right: 59.5%;
}

.signUp{
    position: absolute;

right: 28.43%;
top: calc(50% - 26px/2 - 355.6px);

/* Buttons / Middle */

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


/* Colors / Text */

color: rgba(21, 20, 57, 0.4);


}

.API{
    height: 26px;
left: 69.57%;
}

.Help{
    
}